.p-accordion .p-accordion-header-link {
    font-size: 14px !important;
    padding: 10px 15px !important;
    background-color: #49B86E !important;
    color: #000 !important;
    border-radius: 0 !important;
}

.p-accordion .p-accordion-header .p-accordion-header-link .p-accordion-toggle-icon {
    font-size: 14px;
}

.p-accordion .p-accordion-content{
    border: none !important;
}