.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link{
    color: #86c232 !important;
    border-color: #86c232 !important;
}

.p-tabview .p-tabview-nav{
    border: none !important;
    border-bottom: 2px solid #eee !important;
}