.community-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 20px 30px;

    .header {
        font-size: 25px;
        font-weight: 700;
        color: #474b4f;
    }

    .body {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .para{
            max-width: 800px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 10px 0px;

            .add-button, .actions {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                width: 100%;
                padding: 0px 10px;

                
                button {
                    border: none;
                    padding: 10px 15px;
                    font-size: 14px;
                    font-weight: 700;
                    background-color: #4b474f;
                    color: #eee;
                    cursor: pointer;

                    &:hover {
                        background-color: #61892f;
                        // color: #474b4f;
                    }
                }
                .cancel {
                    color: #474b4f;
                    background-color: #ccc;
    
                    &:hover {
                        background-color: #eee;
                    }
                }
                
                .save {
                    background-color: #474b4f;
                    color: #eee;
                    margin: 10px 10px;
    
                    &:hover {
                        background-color: #61892f;
                    }
                }
            }


            .item {
                padding: 10px;
                font-size: 14px;
                display: flex;
                align-items: center;
                box-shadow: 4px 4px 10px 2px #ccc;
                margin: 10px 0px;

                .text {
                    display: flex;
                    color: #6b6e70;

                    i{
                        padding: 0px 10px;
                        color: #86c232;
                    }
                }

                .vote {

                    .score {
                        font-size: 25px;
                        text-align: center;
                        font-weight: 700;
                        color: #4b474f;
                    }

                    i {
                        font-size: 30px;
                        cursor: pointer;
                        margin: 5px 10px;
                        color: #4b474f;
                    }

                    .pi-thumbs-up-fill:hover {
                        color: #61892f;
                    }

                    .pi-thumbs-down-fill:hover {
                        color: #e54343;
                    }
                }
            }
        }
    }
}


p-dialog{

    .p-dialog-mask{
        background-color: rgba(0, 0, 0, 0.5);
    }

    .add-button, .actions {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
        padding: 0px 10px;

        
        button {
            border: none;
            padding: 10px 15px;
            font-size: 14px;
            font-weight: 700;
            background-color: #4b474f;
            color: #eee;
            cursor: pointer;

            &:hover {
                background-color: #61892f;
                // color: #474b4f;
            }
        }
        .cancel {
            color: #474b4f;
            background-color: #ccc;

            &:hover {
                background-color: #eee;
            }
        }
        
        .save {
            background-color: #474b4f;
            color: #eee;
            margin: 10px 10px;

            &:hover {
                background-color: #61892f;
            }
        }
    }
}

button:disabled {
    background-color: #ccc !important;
    color: #474b4f !important;
    cursor: not-allowed;
}