<!-- <p>community works!</p> -->
<div class="community-container">
    <div class="header">Community</div>
    <div class="body"> 
        <div class="para">
            <div class="add-button">
                <button (click)="newPost = true" [disabled]="newPost">New Post</button>
            </div>
            <div class="new-item" *ngIf="newPost">
                <p-editor [(ngModel)]="newContent" [style]="{'height': '320px'}"></p-editor>
                <div class="actions">
                    <button class="save" (click)="savePost()">Save</button>
                    <button class="cancel" (click)="newPost = false">Cancel</button>
                </div>
            </div>
            <div class="item" *ngFor="let post of posts; let index=index">
                <div class="vote">
                    <div class="upvote" (click)="updateScore(post, 1)">
                        <i class="pi pi-thumbs-up-fill"></i>
                    </div>
                    <div class="score">
                        {{ posts[index].score }}
                    </div>
                    <div class="downvote" (click)="updateScore(post, -1)">
                        <i class="pi pi-thumbs-down-fill"></i>
                    </div>
                </div>
                <p-editor [(ngModel)]="posts[index].message" readonly="true" [style]="{'height':'320px', 'width' : '600px'}">
                </p-editor>
            </div>
        </div>
    </div>
</div>
<div></div>

<p-dialog header="Add new post" [(visible)]="newPost" *ngIf="newPost">
    <div class="new-item" *ngIf="newPost">
        <p-editor [(ngModel)]="newContent" [style]="{'height': '320px'}"></p-editor>
        <div class="actions">
            <button class="save" (click)="savePost()" [disabled]="newContent.length==0">Save</button>
            <button class="cancel" (click)="newPost = false">Cancel</button>
        </div>
    </div>
</p-dialog>