<div class="home">
    <!-- <img src="assets/images/home_banner.jpeg" alt="banner"> -->
    <div class="img img_1"></div>
    <div class="main-card">
        <div class="header">Our Elephants</div>
        <div class="para">Elephants play a crucial role in forest ecosystem by opening up forests and distributing the
            seeds of trees and shrubs from one place to another.</div>
    </div>
    <div class="img img_2"></div>
    <div class="card-container">
        <div class="main-card">
            <div class="row">
                <div class="left">
                    <div class="img-stamp">
                        ENDANGERED
                    </div>
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/37/African_Bush_Elephant.jpg/1200px-African_Bush_Elephant.jpg"
                        alt="African Bush Elephant">
                </div>
                <div class="right">
                    <div class="card">
                        <div class="title">African Bush Elephant</div>
                        <div class="para">
                            The African bush elephant (savanna elephant) is one of two extant African elephant species and one of three extant elephant species. It is the largest living terrestrial animal. They are easily distinguished by their very large ears. African savanna elephants are found in 23 countries and live in a variety of habitats, from open and wooded savannas to even some deserts and forests.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-container">
        <div class="main-card">
            <div class="row">
                <div class="left">
                    <div class="card">
                        <div class="title">African Wild Elephant</div>
                        <div class="para">
                            African wild elephants are the elusive cousin of the African savanna elephant. They inhabit the dense rainforests of west and central Africa. African forest elephants are smaller than African savanna elephants, the other African elephant species. Their ears are more oval-shaped and their tusks are straighter and point downward. African forest elephants live in family groups of up to 20 individuals and forage on leaves, grasses, seeds, fruit, and tree bark. They are therefore referred to as the ,<strong>mega-gardener of the forest</strong>.
                        </div>
                    </div>
                </div>
                <div class="right">
                    <div class="img-stamp">
                        CRITICALLY<br>
                        ENDANGERED
                    </div>
                    <img src="https://i.pinimg.com/564x/82/19/22/8219229788b3d56a889f3a83c7e5a58e--elephant-art-african-elephant.jpg"
                        alt="African Wild Elephant">
                </div>
            </div>
        </div>
    </div>
    <div class="card-conatiner">
        <div class="main-card card-container">
            <div class="row">
                <div class="left">
                    <div class="img-stamp">
                        ENDANGERED
                    </div>
                    <img src="https://render.fineartamerica.com/images/rendered/default/greeting-card/images-medium-5/3-indian-asian-elephant-tusker-jagdeep-rajput.jpg?&targetx=0&targety=-25&imagewidth=500&imageheight=750&modelwidth=500&modelheight=700&backgroundcolor=6B4A36&orientation=1"
                        alt="Asian Elephant">
                </div>
                <div class="right">
                    <div class="card">
                        <div class="title">Asian Elephant</div>
                        <div class="para">
                            The Asian elephant is the largest land mammal on the Asian continent. They inhabit dry to wet forest and grassland habitats in 13 range countries spanning South and Southeast Asia. Asian elephants are extremely sociable. They live in herds of 10 to 20 individuals, which are led by a matriarch. They are also known to form strong bonds with other elephants, as well as with humans.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>